body{
    margin: 0;
}
header{
    height: 100px;
    font-family:'メイリオ';
    background-color: aliceblue;
}
.go-homeUrl{
    margin-left: 50px;
    text-decoration: none;
    font-size: 40px;
}
.pokebex_list{
    margin: 1%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.pokebex_item{
    margin: auto;
    margin-bottom: 2%;
    font-size: 0.5vw;
    list-style: none;
    cursor: pointer;
    
}
.pokebex_img{
    /*レイアウト*/
    width: 11.5vw;
    
    border: solid 1.5px rgb(218, 218, 218);
    border-radius: 10px;
    
    /*アニメーションの設定*/
    position:relative;
    top:0;
    transition: all .2s;
}
.pokebex_img:hover {
    top:-8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.pokebex_name{
    margin: 0;
    padding: 0;
}
/*リンクのレイアウト*/
.detail_link{
    text-decoration: none;
    color: black;
}

button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
}

#loader {
    text-align: center;
    padding: 20px;
}

@media (max-width: 900px) {
    .pokebex_item{
        font-size: 1.4vw;
        
    }
    .pokebex_img{
        /*レイアウト*/
        width: 23vw;
        border: solid 1.5px rgb(218, 218, 218);
    }
}