body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'メイリオ';
}
header{
    height: 100px;
    background-color: aliceblue;
}
.go-homeUrl{
    margin-left: 50px;
    text-decoration: none;
    font-size: 40px;
}
main{
    display: flex;
}
ul{
    list-style: none;
}
/*図鑑の詳細*/
/*詳細全体*/
.detail{
    width: 50%;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
}
/*リストのアイテム全体*/
.item{
    padding-top: 20px;
}
/*featuresとstatusを横並びにする*/
.line_up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/*ポケモン画像*/
.img_wrapper{
    width: 52%;
    height: 500px;
    display: block;
    margin: 0 auto;
}
.icon{
    width: 100%;
    height: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
/*名前と番号*/
.id{
    font-weight: bolder;
}
.name{
    text-align: center;
    font-size: 26px;
}
/*特徴*/
.features{ 
    border: solid 2px rgb(218, 218,218);
    border-radius: 10px;

    flex: 1;
    margin: 0 10px;
}
/*ステータス*/
.status{
    border: solid 2px rgb(218, 218, 218);
    border-radius: 10px;

    flex: 1;
    margin: 0 10px;
}
/*説明文*/
.berTitle_hp{
    padding-right: 50px;
}
.explanation{
    padding: 10px;
    border: solid 2px rgb(218, 218, 218);
    border-radius: 10px;
}
.meter{
    padding-right: 40%;
}